<!DOCTYPE html>
<html>
	<head>
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet"
			href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"
			integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ=="
			crossorigin="anonymous" />
		
		<!-- Optional theme -->
		<link rel="stylesheet"
			href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css"
			integrity="sha384-aUGj/X2zp5rLCbBxumKTCw2Z50WgIr1vs/PFN4praOTvYXWlVyh2UtNUU0KAUhAX"
			crossorigin="anonymous" />
	</head>

	<body>
	
		<!-- inicio class container -->
		<div class="container">			
			<!-- inicio class row -->
			<div class="row">
			
			
			<form action="/comentario/save" method="post">		
			<input type="hidden" name="filme" th:value="${filme.id}"/>	
				<div class="form-group">					
					<label>Nome</label>
					<input type="text" class="form-control"	placeholder="Nome" name="nome" />
				</div>
		
				<div class="form-group">
					<label>Comentario</label> 
					<input type="text" class="form-control"	placeholder="Comentario" name="texto" />
				</div>		
				
				<button type="submit" class="btn btn-default">Enviar</button>
				<a type="submit" class="btn btn-default" href="/">Voltar</a>
			</form>
			
			
			
			
					
			<form action="/comentario/save" method="post">
				<br />
				<div class="form-group">
					<label>						
						<span th:text="${filme.nome}"  />						
					</label>
				</div>
			</form>			
			<!-- fim class row -->
			</div>
			
			<!-- inicio class table -->
			<table class="table">
				<tr>					
					<th>Comentarios</th>
				</tr>
				
				<br />
				
				<tbody>
					<tr th:each="comentario:${comentarios}">						
						<td th:text="${comentario.texto}"> </td>
					</tr>
				</tbody>
			<!-- Fim class table -->
			</table>

			

		<!-- Fim class container	 -->
		</div> 

	</body>
</html>